<!DOCTYPE html>
<html lang="en-us">
    <script></script>
    <body>
        <div ng-app="">
            <p style="background-color:turquoise;">
                Input your information:</p>
            <p>Name: <input type="text"ng-model="name"
                placeholder="Enter name here"></p>
                <p>Date Of Birth: <input type="text"ng-model="date of birth"
                    placeholder="Enter date of birth here"></p>
                    <p>Academic Qualification: <input type="text"ng-model="academic qualification"
                        placeholder="Enter academic qualification here"></p>
                <p> Email: <input type="text"ng-model="email"
                placeholder="Enter email here"></p>
                    <p>Mobile Number: <input type="text"ng-model="mobile number"
                        placeholder="Enter mobile number here"></p>
                            <h1 style="background-color:turquoise;">
                            Thank you..</h1>
                            <button><a href="#">Send</a></button>
        </div>
    </body>
</html>